<div class='left-structure'>
    <div>
        {{!-- PROFILE CONTAINER --}}
        <div class='profile-container bg-shadow'>
            <img class='profile-pic' src="/images/VladimirLeloup.jfif" alt="">
            <h3 style="color: white;">Vladimir Leloup</h3>
            <p style="color: white;">Web Developper</p>
            <div class='profile-location'>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6 style="color: white;">Paris, France</h6>
            </div>
        </div>


        {{!-- MOBILE ABOUT ME --}}
        <div class='toShow'>


            {{!-- <a onclick="myFunction()">
                <div class='tree-btn'>About me
                    <i class="fa fa-angle-right" aria-hidden="true"></i>

                    <div id='createElement'>
                    vlad
                </div>
                </div>
            </a> --}}

            <a href="/workVM/">
                <div class='tree-btn'>My Work
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </a>

            <div id="accordion">
                <div class="card">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <div class='tree-btn-accordeon'>Links
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class='links-container'>

                                <div class="link-container col-5 mr-1 mb-1">
                                    <a href="https://www.linkedin.com/in/vladimir-leloup-317127b6/" target="_blank">
                                        <img class="bg-shadow" src="/images/linkedin.png" alt="">
                                    </a>
                                    <p>Linkedin</p>
                                </div>

                                <div class="link-container col-5 mr-1 mb-1">
                                    <a href="https://github.com/Vlp90" target="_blank">
                                        <img class="bg-shadow" src="/images/github.png" alt="">
                                    </a>
                                    <p>Github</p>
                                </div>

                                <div class="link-container col-5 mr-1 mb-1">
                                    <a href="https://www.codewars.com/users/Vlp90" target="_blank">
                                        <img class="bg-shadow" src="/images/codewars.png" alt="">
                                    </a>
                                    <p>Codewars</p>
                                </div>

                                <div class="link-container col-5 mr-1 mb-1">
                                    <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                                        <img class="bg-shadow" src="/images/codecademy-bis.png" alt="">
                                    </a>
                                    <p>Codecademy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <div class='tree-btn-accordeon'>My tools
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <div class='stacks-container'>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/javascript.png" alt="">
                                    <p>Javascript ES6</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/react.png" alt="">
                                    <p>React</p>
                                </div>

                                {{!-- <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/redux.png" alt="">
                                    <p>Redux</p>
                                </div> --}}

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/node.png" alt="">
                                    <p>Node.js</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/express.png" alt="">
                                    <p>Express.js</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/mongodb.png" alt="">
                                    <p>MongoDB</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/heroku.png" alt="">
                                    <p>Heroku</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/Firebase.png" alt="">
                                    <p>Firebase</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/wordpress.png" alt="">
                                    <p>Wordpress</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/bootstrap.png" alt="">
                                    <p>Bootstrap</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/materialUI.png" alt="">
                                    <p>Material UI</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/html.png" alt="">
                                    <p>HTML5</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/css.png" alt="">
                                    <p>CSS3</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/adobe.png" alt="">
                                    <p>Adobe</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/figma.png" alt="">
                                    <p>Figma</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/sketch.png" alt="">
                                    <p>Sketch</p>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>



        {{!-- LINKS --}}
        <div class='toHide'>
            <h3 class="title-margin">Links</h3>
            <div class='links-container'>

                <div class="link-container col-5 mr-1 mb-1">
                    <a href="https://www.linkedin.com/in/vladimir-leloup-317127b6/" target="_blank">
                        <img class="bg-shadow" src="/images/linkedin.png" alt="">
                    </a>
                    <p>Linkedin</p>
                </div>

                <div class="link-container col-5 mr-1 mb-1">
                    <a href="https://github.com/Vlp90" target="_blank">
                        <img class="bg-shadow" src="/images/github.png" alt="">
                    </a>
                    <p>Github</p>
                </div>

                <div class="link-container col-5 mr-1 mb-1">
                    <a href="https://www.codewars.com/users/Vlp90" target="_blank">
                        <img class="bg-shadow" src="/images/codewars.png" alt="">
                    </a>
                    <p>Codewars</p>
                </div>

                <div class="link-container col-5 mr-1 mb-1">
                    <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                        <img class="bg-shadow" src="/images/codecademy-bis.png" alt="">
                    </a>
                    <p>Codecademy</p>
                </div>
            </div>


        </div>


        {{!-- STACK --}}
        <div class='toHide'>
            <h3 class="title-margin">My tools</h3>
            <div class='stacks-container'>

                  <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/javascript.png" alt="">
                                    <p>Javascript ES6</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/react.png" alt="">
                                    <p>React</p>
                                </div>

                                {{!-- <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/redux.png" alt="">
                                    <p>Redux</p>
                                </div> --}}

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/node.png" alt="">
                                    <p>Node.js</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/express.png" alt="">
                                    <p>Express.js</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/mongodb.png" alt="">
                                    <p>MongoDB</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/heroku.png" alt="">
                                    <p>Heroku</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/Firebase.png" alt="">
                                    <p>Firebase</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/wordpress.png" alt="">
                                    <p>Wordpress</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/bootstrap.png" alt="">
                                    <p>Bootstrap</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/materialUI.png" alt="">
                                    <p>Material UI</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/html.png" alt="">
                                    <p>HTML5</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/css.png" alt="">
                                    <p>CSS3</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/adobe.png" alt="">
                                    <p>Adobe</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/figma.png" alt="">
                                    <p>Figma</p>
                                </div>

                                <div class="stack-container col-3 mr-2 mb-1">
                                    <img class="bg-shadow" src="/images/sketch.png" alt="">
                                    <p>Sketch</p>
                                </div>



            </div>


        </div>


    </div>



    <div>
        {{!-- CONTACT ME --}}
        <div>
            <a class='noDecoration' href="mailto:vladimir.leloup@gmail.com?subject=Prise de contact">
                <div>
                    <div class='contact-me bg-shadow '>

                        <div class='contact-me-left'>

                            <span class='contact-emoji contact-emoji-size'>🤓</span>

                            <div class="">
                                <span class='contact-me-text'>More info ?<br><strong>Contact
                                        me</strong></span>
                            </div>

                            {{!-- <div>
                                <span class='contact-me-text'><strong>Contact me</strong></span>
                            </div> --}}

                        </div>

                        <i class="fa fa-angle-right contact-emoji-size contact-arrow" aria-hidden="true"></i>
                    </div>
            </a>
        </div>

    </div>

</div>