<main class=''>

    <div class='home row'>


        <div class='full-container overflow-auto'>
            <div class='margin-container'>

                <a href="/dashboard" class="card-btn btn btn-outline-primary">Return</a>
                <h1>Add new</h1>

                <form class="form" autocomplete="off" action="/dashboard/add" method="POST"
                    enctype="multipart/form-data">

                    <div class="row noMargin">

                        <div class='form-group col-6'>
                            <label class="label" for="title">Title</label>
                            <input class="form-control" id="title" type="text" name="title" placeholder="Title">
                        </div>

                        <div class="form-group col-6">
                            <label for="start">Date de création</label>
                            <input class='form-control' type="date" id="creationDate" name="dateCreation">
                        </div>

                        <div class='multiple-input'>

                            <select multiple class='form-control' placeholder="Enter tag + tab to validate" name="tag"
                                data-role="tagsinput">
                                {{!-- <option value="Full Stack">Full Stack</option>
                                <option value="Front-end">Front-end</option>
                                <option value="Game">Game</option>
                                <option value="Wordpress">Wordpress</option>
                                <option value="Node.js">Node.js</option>
                                <option value="Vanilla.js">Vanilla.js</option>
                                <option value="React.js">React.js</option>
                                <option value="Express.js">Express.js</option>
                                <option value="Html">Html</option>
                                <option value="CSS">CSS</option>
                                <option value="Material UI">Material UI</option>
                                <option value="Bootstrap">Bootstrap</option>
                                <option value="Api">Api</option>
                                <option value="JQuery">JQuery</option>
                                <option value="MongoDB">MongoDB</option> --}}
                                <option value="Full Stack"></option>
                                <option value="Front-end"></option>
                                <option value="Game"></option>
                                <option value="Wordpress"></option>
                                <option value="Node.js"></option>
                                <option value="Vanilla.js"></option>
                                <option value="React.js"></option>
                                 <option value="Redux"></option>
                                <option value="Express.js"></option>
                                <option value="Html"></option>
                                <option value="CSS"></option>
                                <option value="Material UI"></option>
                                <option value="Bootstrap"></option>
                                <option value="Api"></option>
                                <option value="JQuery"></option>
                                <option value="MongoDB"></option>
                                <option value="Firebase"></option>
                

                            </select>
                        </div>


                        <div class="form-group col-12">

                            <label for="description">Description</label>
                            <textarea class="form-control" type='text' id="description" placeholder="Description"
                                name='description' rows="3"></textarea>
                        </div>

                        <div class="form-group col-12">
                            <label for="place">Link to website</label>
                            <input id="location" type="string" name="link" placeholder="Link or location for the event"
                                class="form-control">
                        </div>




                        {{!-- <input type="text"
                            value="Amsterdam,Washington,Sydney,Beijing,Cairo,Washington,Sydney,Beijing,Cairo"
                            data-role="tagsinput"> --}}

                        {{!-- <select multiple data-role="tagsinput">
                            <option value="Amsterdam">Amsterdam</option>
                            <option value="Washington">Washington</option>
                            <option value="Sydney">Sydney</option>
                            <option value="Beijing">Beijing</option>
                            <option value="Cairo">Cairo</option>
                            </select> --}}

                        {{!-- UPLOAD TO CLOUDINARY --}}

                        {{!-- <div class="form-group col-6">
                            <label class="label" for="file-1">Choose Image preview...</label>
                            <input class="form-control" name="image" type="file" id="file-1">
                        </div> --}}

                         <div class="form-group col-6">
                            <label class="label" for="file-1">Choose Image preview...</label>
                            <input class="form-control" name="imgZero" type="text" id="file-1">
                        </div>


                        <div class="form-group col-6">
                            <label class="label" for="file-2">Choose image 2...</label>
                            <input class="form-control" name='imgOne' type="text" id="file-2">
                        </div>


                        <div class="form-group col-6">
                            <label class="label" for="validatedCustomFile">Choose image 3...</label>
                            <input class="form-control" name='imgTwo' type="text" id="file-3">
                        </div>


                        <div class="form-group col-6">
                            <label class="label" for="validatedCustomFile">Choose image 4...</label>
                            <input class="form-control" name='imgThree' type="text" id="file-4">
                        </div>

                        <div class="form-group col-12">
                            <label class="label" for="validatedCustomFile">Link to video...</label>
                            <input class="form-control" type="text" id="video" name="video">
                        </div>

                        <div class="form-group col-12">
                        </div>
                        <button class="btn btn-primary btn-block">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
    </div>






</main>