    {{!-- RIGHT SIDE --}}
    <div class='content-container overflow-auto'>
        <div class='margin-container'>

            {{#if isLoggedIn}}
            <div class='hidden-menu'>
                <a href="/dashboard" class="btn btn-primary">Dashbord</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
            {{/if}}
           <a class='btn btn-primary title-margin ' href="/">Return Home</a>

            {{>infoContainer}}

        </div>

    </div>