{{!-- RIGHT SIDE --}}
<div class='content-container overflow-auto'>
    <div class='margin-container'>

        <a class='btn btn-primary title-margin ' href="/">Return Home</a>

        <div class='left-structure'>
            <div>
            



                {{!-- LINKS --}}
                <div class='about-container'>
                    <h3 class="title-margin">Links</h3>
                    <div class='links-container'>

                        <div class="link-container">
                            <a href="https://www.linkedin.com/in/vladimir-leloup-317127b6/" target="_blank">
                                <img class="bg-shadow" src="/images/linkedin.png" alt="">
                            </a>
                            <p>Linkedin</p>
                        </div>

                        <div class="link-container">
                            <a href="https://github.com/Vlp90" target="_blank">
                                <img class="bg-shadow" src="/images/github.png" alt="">
                            </a>
                            <p>Github</p>
                        </div>

                        <div class="link-container">
                            <a href="https://www.codewars.com/users/Vlp90" target="_blank">
                                <img class="bg-shadow" src="/images/codewars.png" alt="">
                            </a>
                            <p>Codewars</p>
                        </div>

                        <div class="link-container">
                            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
                            </a>
                            <p>Codecademy</p>
                        </div>
                    </div>


                </div>


                {{!-- STACK --}}
                <div class='about-container'>
                    <h3 class="title-margin">Stack</h3>
                    <div class='stacks-container'>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/javascript.png" alt="">
                            <p>Javascript ES6</p>
                        </div>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/react.png" alt="">
                            <p>React</p>
                        </div>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/node.png" alt="">
                            <p>Node.js</p>
                        </div>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/express.png" alt="">
                            <p>Express.js</p>
                        </div>




                    </div>
                    <div class='stacks-container'>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/mongodb.png" alt="">
                            <p>MongoDB</p>
                        </div>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/wordpress.png" alt="">
                            <p>Wordpress</p>
                        </div>

                        <div class="stack-container">
                            <img class="bg-shadow" src="/images/html.png" alt="">
                            <p>HTML5</p>
                        </div>

                        <div class="stack-container">
                            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                                <img class="bg-shadow" src="/images/css.png" alt="">
                            </a>
                            <p>CSS3</p>
                        </div>




                    </div>

                </div>


            </div>





        </div>

    </div>

</div>