<main class='container-fluid'>

    <div class='home row'>




        {{!-- LEFT SIDE --}}
        <div class='info-container overflow-auto'>
            <div class='margin-container'>

                {{>infoContainer}}
            </div>
        </div>
    </div>


    {{!-- RIGHT SIDE --}}
    <div class='content-container overflow-auto'>
        <div class='margin-container'>

            {{#if isLoggedIn}}
            <div class='hidden-menu'>
                <a href="/dashboard" class="btn btn-primary">Dashbord</a>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
            {{/if}}
            {{>workContainer}}

        </div>

    </div>


    </div>
    </div>


</main>