<main class='container-fluid'>

    <div class='home row'>

        {{!-- LEFT SIDE --}}
        <div class='info-container'>
            <div class='margin-container'>

                {{>infoContainer}}
            </div>
        </div>
    </div>


    {{!-- RIGHT SIDE --}}
    <div class='content-container overflow-auto'>
        <div class='margin-container'>
            {{>workContainer}}
            {{!-- {{>workId}} --}}
        </div>

    </div>

  
    </div>
    </div>


</main>