<main class='container-fluid'>

    <div class='home row'>
        <div class='info-container'>

            <div>
                <h1>test</h1>
            </div>

        </div>
        <div class='content-container'>right</div>
    </div>


</main>