{{!-- PROFILE CONTAINER --}}
<div class='profile-container bg-shadow'>
    <img class='profile-pic' src="/images/VladimirLeloup.jfif" alt="">
    <h3>Vladimir Leloup</h3>
    <p>Web Developper</p>
    <div class='profile-location'>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h6>Paris, France</h6>
    </div>
</div>


{{!-- LINKS --}}
<div>
    <h6>Links</h6>
    <div class="link-container"></div>
    <h6>codeCademy</h6>
</div>


{{!-- STACK --}}
<div>
    <h6>Stack</h6>
    <div class="link-container"></div>
    <p>HTML</p>
</div>

{{!-- CONTACT ME --}}
<div>
    <div class='contact-me'>
        <div>logo</div>
        <div>
            <p>I’m looking for opportunites <br>Contact me</p>
        </div>
    </div>