   {{!-- PROFILE CONTAINER --}}
                <div class='profile-container'>
                    <div class="profile-pic"></div>
                    <h6>Vladimir Leloup</h6>
                    <p>Web Developper</p>
                    <div>
                        <img src="" alt="">
                        <p>Paris, France</p>
                    </div>
                </div>


                {{!-- LINKS --}}
                <div>
                    <h6>Links</h6>
                    <div class="link-container"></div>
                    <p>codeCademy</p>
                </div>


                {{!-- STACK --}}
                <div>
                    <h6>Stack</h6>
                    <div class="link-container"></div>
                    <p>HTML</p>
                </div>

                {{!-- CONTACT ME --}}
                <div>
                    <div class='contact-me'>
                        <div>logo</div>
                        <div>
                            <p>I’m looking for opportunites <br>Contact me</p>
                        </div>
                    </div>

