{{!-- PROFILE CONTAINER --}}
<div class='profile-container bg-shadow'>
    <img class='profile-pic' src="/images/VladimirLeloup.jfif" alt="">
    <h3>Vladimir Leloup</h3>
    <p>Web Developper</p>
    <div class='profile-location'>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h6>Paris, France</h6>
    </div>
</div>


{{!-- LINKS --}}
<div>
    <h4>Links</h4>
    <div class='links-container'>

        <div class="link-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="link-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="link-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="link-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>
    </div>


</div>


{{!-- STACK --}}
<div>
    <h4>Stack</h4>
    <div class='stacks-container'>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        

        
    </div>
<div class='stacks-container'>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>HTML</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        <div class="stack-container">
            <a href="https://www.codecademy.com/profiles/vladimirLp2296695398" target="_blank">
                <img class="bg-shadow" src="/images/codeCademy.webp" alt="">
            </a>
            <p>codeCademy</p>
        </div>

        

        
    </div>

</div>

{{!-- CONTACT ME --}}
<div>
    <div class='contact-me'>
        <div>logo</div>
        <div>
            <p>I’m looking for opportunites <br>Contact me</p>
        </div>
    </div>