<div>
    <h3>Welcome into my world</h3>
    <input type="text">
    <button>filter</button>
</div>
{{!-- FILTERS --}}
<div class="filter-container">
    <a class='filter-tag' href="">All</a>
    <a class='filter-tag' href="">Web Development</a>
    <a class='filter-tag' href="">Games</a>
    <a class='filter-tag' href="">UI, UX</a>
    <a class='filter-tag' href="">Full Stack</a>
    <a class='filter-tag' href="">Front-end</a>
    <a class='filter-tag' href="">Back-end</a>
</div>

{{!--  CARDS--}}


<div class='card-block'>

    <div class="card-container" style="width: 18rem;">
        <img class="card-img-top img-card" src="/images/template.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up...</p>
            <a href="/work/:id" class="card-btn btn btn-primary btn-block">View</a>
        </div>
    </div>

      <div class="card-container" style="width: 18rem;">
        <img class="card-img-top img-card" src="/images/template.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up...</p>
            <a href="#" class="card-btn btn btn-primary btn-block">View</a>
        </div>
    </div>

      <div class="card-container" style="width: 18rem;">
        <img class="card-img-top img-card" src="/images/template.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up...</p>
            <a href="#" class="card-btn btn btn-primary btn-block">View</a>
        </div>
    </div>

      <div class="card-container" style="width: 18rem;">
        <img class="card-img-top img-card" src="/images/template.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up...</p>
            <a href="#" class="card-btn btn btn-primary btn-block">View</a>
        </div>
    </div>

      <div class="card-container" style="width: 18rem;">
        <img class="card-img-top img-card" src="/images/template.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up...</p>
            <a href="#" class="card-btn btn btn-primary btn-block">View</a>
        </div>
    </div>



</div>