/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #f3f4f9;
  width: 100vw;
  /* height: 100vh; */
}

a {
  color: #00b7ff;
}

.home {
  max-width: 90%;
  height: calc(100vh - 40px);
  margin: 20px auto;
}

/* STRUCTURE */

.info-container {
  width: calc(30% - 40px);
  height: calc(100vh - 80px);
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.content-container {
  width: calc(70% - 40px);
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  height: calc(100vh - 80px);
}

.margin-container {
  margin: 30px;
}

/* INFO CONTAINER */

.profile-container {
  text-align: center;
  background-color: red;
}

.profile-pic {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 auto;
}

.link-container {
  background-color: black;
  width: 45%;
  height: 30px;
  border-radius: 10px;
}

.contact-me {
  background-color: blue;
}

/* CONTENT CONTAINER */

.filter-container {
  margin: 20px 0;
}

.filter-tag {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}

.card-container {
  /* min-width: 150px;
  max-width: 150px;
  min-height: 220px;
  max-height: 250px; */
  margin: 0px 15px 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card-btn {
  margin-bottom: 10px;
  /* font-size: 10px !important; */
}

.card-title {
  /* font-size: 14px;
  font-weight: 600; */
}

.card-text {
  /* font-size: 10px; */
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  /* max-height:70vh; */
}

.card-body {
  padding: 10px 20px;
}



.img-container {
  height: 190px;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.card-img {
  object-fit: contain;
}