/* GENERAL */

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.noMargin {
  margin: 0;
}

.title-margin {
margin-bottom: 0.5em;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #f3f4f9;
  width: 100vw;
  /* height: 100vh; */
}

a {
  color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-shadow {
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.home {
  max-width: 90%;
  height: calc(100vh - 40px);
  margin: 20px auto;
}

.tree-btn-accordeon {
  width: 100%;
  padding: 10px 0;
    /* border: 1px solid #212b4c;; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  color: #212b4c;
  font-size:1.5rem; 
}

.tree-btn {
  width: 100%;
  padding: 17px 15px;
    border: 1px solid #212b4c;;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #212b4c;
  font-size:1.5rem; 
}

.card {
  border: 1px solid #212b4c;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* .tree-btn:hover {
  background-color: #0167d4;
  color: white;
} */

/* .tree-btn > *:hover {
  color: white !important;
} */

.tree-btn h4 {
margin: 0;
color: #212b4c;
}

.tree-btn i {
  font-size:1.5rem;
  color: #212b4c;
}

/* STRUCTURE */

.left-structure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 160px);
}

.info-container {
  width: calc(30% - 40px);
  height: calc(100vh - 80px);
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.content-container {
  width: calc(70% - 40px);
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  height: calc(100vh - 80px);
}

.full-container {
  width: 100%;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  height: calc(100vh - 80px);
}

.margin-container {
  margin: 30px;
  background-color: white;
}

/* INFO CONTAINER */

.profile-container {
  text-align: center;
  background-color: #212b4c;
  color: white;
  border-radius: 10px;
}

.profile-location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-location h6 {
  margin-left: 10px;
}

.profile-location i {
  margin-bottom: 0.5rem;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  margin: 20px 0;
}

.links-container,
.stacks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.link-container img:hover {
  /* width: 50%; */
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  filter: brightness(70%);
}

/* .stacks-container img:hover  {
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  filter: brightness(70%);
} */

.link-container {
  /* width: calc(50% - 15px); */
  width: 45%;
  /* min-width: 100px; */
  /* margin-right: 15px; */
  /* max-height: 10px; */
}

.stack-container {
  /* width: 20%; */
  /* margin: 0 1px 10px 0; */
  justify-content: flex-start;
  /* background-color: red; */
}

.link-container img,
.stack-container img {
  border-radius: 20px;
  width: 100%;
  max-height: 75px;
  min-height: 75px;
  object-fit: cover;
}

.link-container p,
.stack-container p {
  text-align: center;
  text-decoration: none;
}

/* .contact-me {
  margin-top: 15px;
  background-color: #212b4c;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
} */

.contact-me {
  background-color: #212b4c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 0.5em;
}

.contact-me-left {
  display: flex;
  align-items: center;
}

.contact-me:hover {
  background-color: #0167d4;
}

/* .contact-emoji:hover {
  background-color: #212b4c;
} */

.contact-emoji {
  padding: 10px 15px;
  background-color: white;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}

.contact-emoji-size {
  font-size: 1.5rem;
  color: white;
}

.contact-me-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.contact-arrow {
  margin-right: 20px;
}

.about-container {
  border: 1px solid #212b4c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* CONTENT CONTAINER */

.hidden-menu {
  display: flex;
  justify-content: flex-end;
}

.hidden-menu a {
  margin-left: 20px;
}

.filter-container {
  margin: 20px 0;
}

.filter-tag {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}

.vignette-tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eaf0f8;
  border-radius: 10px;
  color: #8097b3;
}

.message-search-err {
  text-align: center;
  width: 100%;
  margin-top: 10vh;
}

/* SEARCH BAR */

.search-align {
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
}

.search-size {
  /* width: 500px; */
  background-color: #f3f4f9;
  border: 0px;
  padding-left: 20px;
}

.search-size::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bebebe;
  opacity: 1; /* Firefox */
}

.search-bar {
  margin-bottom: 30px;
}

.card-container {
  /* min-width: 300px; */
  /* max-width: 340px; */
  /* min-height: 220px;
  max-height: 250px;  */
  /* margin: 0px 15px 15px 0; */
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.margin-card {
  margin: 0px 15px 15px 0;
  /* background-color: red; */
}

.card-align-center {
  justify-content: left;
}

.card-btn {
  margin-bottom: 10px;
  /* font-size: 10px !important; */
}

.card-title {
  /* font-size: 14px;
  font-weight: 600; */
}

.card-text {
  /* font-size: 10px; */
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  /* max-height:70vh; */
}

.card-body {
  padding: 10px 20px;
}

/* .div-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
} */

img {
  /* width:auto; */
  /* height: 190px; */
}

/* .cover {
  object-fit: cover;
} */

.img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  /* background-color: blue; */
}

.card-cover {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

/* DASHBOARD */

.heading-manage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table img {
  width: 50px;
  /* height: 50px;
  object-fit: cover; */
}

.table tr td {
  padding: 10px;
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
}

.btn-adjustment {
  margin-left: 15px;
}

/* .form .title {
  margin-bottom: 20px;
} */
/* 
.form .btn {
  max-width: 150px;
  margin: 10px 0;
  padding: 6px 8px;
  background-color: ghostwhite;
  border: 1px solid black;
  font-size: 16px;
  font-family: inherit;
  transition: background-color linear 0.2s, color linear 0.2s;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 10px;
}

.form .label {
  font-weight: 300;
}

.form .input,
.form select {
  padding: 6px 8px;
  border: 1px solid black;
  outline: none;
}

.form .input:focus {
  outline: 2px solid dodgerblue;
}

.form .btn:hover {
  background-color: black;
  color: ghostwhite;
} */

/* LOGIN FORM */

#form {
  margin: 0 auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

/* #form button {
	background: #43a3e6;
	border: 1px solid #43a3e6;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 8px 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s ease background;
	width: 100%;
}

#form button:hover {
	background: #fff;
	color: #43a3e6;
	transition: .3s ease background;
} */

.login-container {
  margin-top: 30vh;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
}

/* TAGS INPUT  */

.tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  margin-left: 15px;
  background-color: red;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}



/* RESPONSIVE DESIGN */

.toShow {
  display: none
}

@media only screen and (max-width: 1450px) {
  body {
    width: 100%;
  }

  .info-container {
    width: 100%;
    margin: 0;
    height: 100vh;
  }

  .overflow-auto {
    overflow: hidden;
  }

  .content-container {
    width: 100%;
    margin: 0;
    background-color: white;
    border-radius: 10px; 
    height: 100%;  
  }

  .content-container-VM {
    width: 100%;
    margin: 0;
    background-color: white !important;
    border-radius: 10px; 
    height: 100%;  
  }

  
  .margin-container {
    margin-right: 10px;
  }
  
.home{
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.left-structure {
  height: calc(100vh - 65px);
  margin-right: 15px;
}


  .full-container {
    margin: 0px;
    width: 100%;
  }

  .toHide {
  display: none;
  }

  .toShow {
    display:block ;
  }
  
}